@import url(https://fonts.googleapis.com/css?family=Raleway:400,900);

.raleway{
    font-family: 'Raleway', sans-serif;
}

section {
    min-height: 100vh;
}

.heightNameSec {
    height: 185px;
}

.heightIntroductionSec {
    height: 30px;
}

.paddingIntroductionSec{
    padding: 10px;
}

.buttonMarginIntroductionSec{
    margin-bottom: 15px;
}

/*----------------------------------------------------------------------------------------------*/
.picsecparent{
    position: relative;
}

.picsecchild01{
    position: absolute;
    top: 110px;
    width:100%;
}

.picsecchild02{
    height: 150px;
    object-fit: scale-down;
    border: 5px solid white;
    border-radius: 75px;
}
/*----------------------------------------------------------------------------------------------*/

.contacticons{
    height: 10px;
}

.aboutme{
    margin: 50px;
}

.extend{
    width: 100%;
}
/*---------------------------------------------------------------------------------------------*/
.skillsec01{
    min-height: 390px;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.skillsec02{
    position: absolute;
    top: -10px;
    width: 100%;
}

.skillsec03{
    padding: 5px;
    border-radius: 5px;
}

.skillsec04{
    padding-top: 35px;
    padding-right: 35px;
    padding-left: 35px;
}

.skillseccircle{
    background-color: whitesmoke;
    border-radius: 5px;
}

.heightSkillCircle{
    height: 5px;
}

.height05-01{
    height: 24px;
}
/*---------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------*/